<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Battleship Game</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="title">
           <h1>Battleship Game</h1>
        </div>
     </div>

     <div class="container">
        <div class="row">
           <a href="/mygames"><span>My Games</span></a>
        <br>
           <a href="/game"><span> Start A game</span></a>
        </div>
     </div>

</body>
</html>