<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Battleship Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <style>
    .row {
      width: 80%;
      font-size: 30px;
      margin: 0 auto;
      cursor: pointer;
    }

    a {
      color: white;
    }
  </style>

  <div class="nav" v-bind:style="estilo_nav">

    <form name="input" action="/mainMenu" method="post" >
      <input type="hidden" id="user_id" name="id" value="<%= id %>">
      <input type="hidden" id="name" name="name" value="<%= name %>">
      <span v-bind:style="estilo_link"><button type="submit" v-bind:style="estilo_btn">{{home}}</button></span>
   </form>

   <form name="input" action="/mygames" method="get" >
    <input type="hidden" id="user_id" name="user_id" value="<%= id %>">
    <input type="hidden" id="name" name="user_name" value="<%= name %>">
    <span v-bind:style="estilo_link"><button type="submit" v-bind:style="estilo_btn">{{jogos}}</button></span>
    </form>

    <form name="input" action="/profile" method="get" >
      <input type="hidden" id="user_id" name="user_id" value="<%= id %>">
      <input type="hidden" id="name" name="user_name" value="<%= name %>">
      <span v-bind:style="estilo_link"><button type="submit" v-bind:style="estilo_btn">{{perfil}}</button></span>
   </form>
    <a href="/logout"><span v-bind:style="estilo_link">{{logout}}</span></a>

  </div>

  <div class="container">
    <div class="title">
      <span v-bind:style="estilo_titulo">
        {{titulo}}
      </span>
    </div>
  </div>

  <div class="container">
    <div class="games">
      <span v-bind:style="estilo_games">
        {{jogos}}
      </span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <% for(i=0; i<games.length; i++) { %>
      <% if(games[i].opponent_name != null && games[i].game_end == 0) { %>
      <div class="card text-center">
        <div class="card-header">
          Keep playing
        </div>
        <div class="card-body">
          <h5 class="card-title"><% games[i].opponent_name %></h5>
          <p class="card-text">You are currently playing with <%- games[i].opponent_name %></p>
          <a href="#" class="btn btn-warning">Keep playing</a>
        </div>
        <div class="card-footer text-muted">
          <%- lastUpdate[i] %>
        </div>
      </div>
      <br>
      <% } %>

      <% if(games[i].opponent_name != null && games[i].game_end == 1 && games[i].won == 1) { %>
      <div class="card text-center">
        <div class="card-header">
          You won
        </div>
        <div class="card-body">
          <p class="card-text">You won a game against <%- games[i].opponent_name %></p>
          <a href="#" class="btn btn-success">See game</a>
        </div>
        <div class="card-footer text-muted">
          <%- lastUpdate[i] %>
        </div>
      </div>
      <br>
      <% } %>
      <% if(games[i].opponent_name != null && games[i].game_end == 1 && games[i].won == 0) { %>
      <div class="card text-center">
        <div class="card-header">
          You lost
        </div>
        <div class="card-body">
          <h5 class="card-title"><% games[i].opponent_name %></h5>
          <p class="card-text">You lost a game against <%- games[i].opponent_name %></p>
          <a href="#" class="btn btn-danger">See game</a>
        </div>
        <div class="card-footer text-muted">
          <%- lastUpdate[i] %>
        </div>
      </div>
      <br>
      <% } %>
      <% } %>
    </div>
  </div>

  <script>
    var nav = new Vue({
      el: '.nav',
      data: {
        home: 'Home',
        jogos: 'My Games',
        perfil: 'My Profile',
        logout: 'Logout',
        estilo_nav: {
          justifyContent: 'space-around',
          textAlign: 'center',
          backgroundColor: 'darkblue',
        },
        estilo_link: {
          fontSize: '30px',
          textAlign: 'center',
          color: 'white',
          margin: '30px auto',
          marginRight: '5%',
          marginLeft: '5%',
          border: '2px solid navy',
        },
        estilo_btn:{
               backgroundColor:'darkblue',
               border: 'none'
            }
      }
    });
    var title = new Vue({
      el: '.title',
      data: {
        titulo: 'BattleShip Game',

        estilo_titulo: {
          fontSize: '30px',
          textAlign: 'center',
          color: 'white',
          backgroundColor: 'darkblue',
          display: 'block',
          margin: '30px auto',
          border: '2px solid navy',
          width: '90%',
          padding: '20px'
        }
      },
    });
    var games = new Vue({
      el: '.games',
      data: {
        jogos: 'My Games',
        estilo_games: {
          fontSize: '30px',
          margin: '30px auto',
          padding: '40px'
        }
      }
    })
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>